<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <!--<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/easyres/themes/bootstrap/easyui.css}" href="easyres/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/easyres/themes/mobile.css}" href="easyres/themes/mobile.css">
    <link rel="stylesheet" type="text/css" th:href="@{/easyres/themes/icon.css}" href="easyres/themes/icon.css">
    <link rel="stylesheet" type="text/css" th:href="@{/easyres/themes/color.css}" href="easyres/themes/color.css">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" th:src="@{/easyres/jquery.min.js}" src="easyres/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/easyres/jquery.easyui.min.js}" src="easyres/jquery.easyui.min.js"></script>
    <script type="text/javascript" th:src="@{/easyres/jquery.easyui.mobile.js}" src="easyres/jquery.easyui.mobile.js"></script>
    <script type="text/javascript" th:src="@{/easyres/locale/easyui-lang-zh_CN.js}" src="static/easyres/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>

</body>
</html>