<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/copy::common_head(~{::title})">
    <title>错误页面</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    注意!
                </h4> <strong>[[${msg}]]!</strong> 操作错误，3秒后自动返回 <a th:href="@{${url}}" class="alert-link">点我返回</a>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout("location.href='[[${url}]]'",3000);
</script>
</body>
</html>